/**👋----------------Mobile-------------------👋**/
@media only screen and (min-width: 300px)  {
body{
  background-color: #F7F9F9;
  font-family: "Chivo", sans-serif;
}

a{
  text-decoration: none;
  color: #121719;
}

a:hover{
  font-style: italic;
  color: #F7F9F7;
}


.img-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.img-container img{
  max-width: 100%;
  max-height: 100%;
}



/*https://codepen.io/dudleystorey/pen/lejFx*/
section {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 2vw;
  background-position: -750px;
}

section:nth-of-type(even) {
  background: #F7F9F7;
}

section:nth-of-type(1) {
  background-image: url(images/FreeBites/freebites-mockup.png);
}

/**👋----Intro----👋**/
.go-back a, .previous a, .next a{
  text-transform: uppercase;
}

.go-back a:hover, .previous a:hover, .next a:hover{
  background-color: #121719;
}

.proj-end{
  max-width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: "Chivo", sans-serif;
}

.previous{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  float: left;
  z-index: 0;
}

.next{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  float: right;
  z-index: 0;
}


.intro{
  width: 80vw;
  max-width: 900px;
  min-height: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

#project-date{
  text-transform: uppercase;
  font-size: .8em;
}

#project-title{
  font-weight: 700;
  font-size: 1.5em;
}

#project-description{
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.8em;
}

#project-description a{
  font-weight: 700;
}

#project-description a:hover{
  background-color: #121719;
}

#right-side img{
  width: 80vw;
}
/**👋----Project Details----👋**/

.wrap{
  width: 80vw;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.content{
  font-family: "Inter", sans-serif;
  color: #121719;
}


.small-side-title{
  font-family: "Chivo", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 1em;
}

.side-title{
  font-family: "Chivo", sans-serif;
  font-size: 1.2em;
  line-height: 1.2;
  font-weight: 700;
  min-width: 150px;
  margin-bottom: 20px;
}


.detail-title, .right-title{
  font-family: "Chivo", sans-serif;
  font-weight: 700;
}

.details-description{
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-size: 1em;
}

.details-description a{
  text-decoration: none;
  font-weight: 700;
}

.details-description a:hover, .padding a:hover{
  background-color: #121719;
}

.callout{
    background-color: white;
}

.padding{
  padding: 20px;
}

/**🌛---Dark Mode----🌛**/
.darkmode #project-description a:hover{
  background-color: #F7F9F7;
}

.darkmode .content{
  color: #F7F9F7;
}

.darkmode a:hover{
  background-color: #F7F9F7;
}

.darkmode .callout{
  background-color: #1D2023;
}


.darkmode img{
  box-shadow: none;
}

/**👋----------------Desktop-------------------👋**/
@media only screen and (min-width: 600px) {
  section{
    background-position: center;
  }

  #project-title{
    font-weight: 700;
    font-size: 3em;
    line-height: 1.3;
  }

  .content {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-weight: 300;
  }

  #left-side {
    width: 200px;
    margin-right: 30px;
  }

  #right-side {
    width: 670px;
  }

  #right-side img{
    width: 670px;
  }

  .img-container {
    max-width: 900px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .img-container img{
    max-width: 100%;
   max-height: 100%;
  }

  .final-gif{
    display: flex;
    flex-direction: row;
  }

  .final-gif img{
    width: 200px;
    margin: 5%;
  }
}
