/**👋----------------Mobile-------------------👋**/


/**👋----------------Desktop-------------------👋**/
@media only screen and (min-width: 1000px)  {
  body{
    line-height: 1.8em;

    background: none;
    height: 3000px;

    width: 100%;

  }


/**👋----------------Intro-------------------👋**/
.intro-bg{
  position: absolute;
  width: 100%;
  height: 550px;
  background: white;


}

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  width: 1000px;
  height: 300px;
  margin-left: 11%;
  margin-right: 11%;
  top: 165.21px;

  line-height: 60px;
}

.bg-img{
  position: fixed;
  top: 0px;
  z-index: -3;
}

.bg-img img{
  width: 100%;
}

#project-date{
  font-weight: 300;
  font-size: 20px;

  line-height: 1.8em;
}

#project-title{
  font-weight: 700;
  font-size: 50px;

  margin-bottom: 2%;
}

#project-description{
  font-weight: normal;
  font-size: 20px;

  line-height: 1.8em;
}


/**👋----------------Project Details-------------------👋**/
.project-details-container{
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: absolute;
  width: 1148.53px;
  height: 333.87px;


  top: 1010.96px;


  z-index: 2;

}


.project-details{
  display: flex;
  flex-direction: row;
  align-items: center;

  z-index: 2;
  margin: 10%;

}

.detail-container{
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  width: 200px;

  text-align: center;




}

.detail-title{
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
}

.emoji-img{
  font-size: 35px;
  padding-bottom: 25px;
}

.details-description{
  border: solid 2px #E2E2E2;
  border-radius: 15px;
  padding: 20px 30px 20px 30px;
  height: 120px;
}

/**👋----------------The Story-------------------👋**/
.storyline-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  top: 1000px;
  bottom: 0;

  z-index: 1;
}

.storyline{
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  width: 700px;
  height: 217.04px;

  left: 25%;
  top: 400px;
}

.storyline-title{
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
}


/**👋----------------Design Process-------------------👋**/
.design-process{
  display: flex;
  justify-content: center;


}


.design-process img{
  position: absolute;
  height: 380px;
  object-fit: cover;

  top: 1680px;

  z-index: 2;

}

/**👋----------------Problem Space-------------------👋**/
.color-bg{
  position: absolute;
  width: 1440px;
  height: 649.86px;
  top: 2150px;

  background: #F5A623;
  z-index: 2;

}

.process-container{
  position: absolute;
  left: 10%;
  top: 10%;
  width: 625px;
  height: 485.43px;

  color: white;
}

.small-process-title{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  padding-bottom: 40px;
}

.main-step-title{
  font-weight: bold;
  font-size: 32px;
  line-height: 158%;

  padding-bottom: 20px;
}

.step-description{
  display: flex;
  flex-direction: row;
}

.step-description img{
  position: absolute;
  height: 300px;

}
}
