/**👋----------------Mobile-------------------👋**/
@media only screen and (min-width: 300px)  {
body{
  background-color: #F7F9F9;
}

a{
  text-decoration: none;
  color: #121719;
}

a:hover{
  font-style: italic;
  color: #F7F9F7;
}

/*https://codepen.io/dudleystorey/pen/lejFx*/
section {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 2vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 2vw;
}

section:nth-of-type(even) {
  background: #F7F9F7;
}

section:nth-of-type(1) {
  background-image: url(images/JAPA/japa-banner.jpg);
}

/**👋----Intro----👋**/
.go-back a{
  text-transform: uppercase;
}


.intro{
  width: 80vw;
  max-width: 1400px;
  min-height: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

#project-date{
  text-transform: uppercase;
}

#project-title{
  font-weight: 700;
  font-size: 1.5em;
}

#project-description{
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.8em;
}

#project-description a{
  font-weight: 700;
}


/**👋----------------Project Details-------------------👋**/

.project-details-container{
  width: 80vw;
  max-width: 1400px;
  min-height: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.detail-title{
  font-weight: bold;
  font-size: 20px;
}

.details-description{
  line-height: 1.5;
}

.details-description a{
  text-decoration: none;
  font-weight: 700;
}
