html{
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
}
/* Style the navigation menu */
.topnav {
  background-color: white;
	position: fixed;
  width: 100vw;
  z-index: 15;
	padding-bottom:30px;
  box-shadow: 4px 7px 45px -12px rgba(0, 0, 0, 0.15);
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #navlinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #121619;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  display: block;
	text-align: left;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: none;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}


/* Add an active class to highlight the current page */
.topnav a:active {
  color: #CE796B;
  text-decoration: underline;
}

#navlinks .active{
	color: #CE796B;
}
