html{
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

body{
  overflow-x: hidden;
}

.topnav {
  top: 0;
  display: flex;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 4px 7px 45px -12px rgba(0, 0, 0, 0.15);
  position: fixed;
  width: 100%;
  z-index: 15;

  transition: top 0.3s;

}

.topnav .logo{
margin-left: 30px;
}

.topnav .logo img{
  height: 30px;
  animation: rotation 2s linear;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.topnav .logo img:hover{
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.topnav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.topnav ul li{
  list-style: none;
  margin-right: 90px;
}


.topnav a {
  font-size: 0.9em;
  text-decoration: none;
  color: #121719;

  transition: all 0.3s ease;
}


.topnav a:hover {
  color: #FF5924;
  letter-spacing: 0.05em;
  background-color: none;
}

.topnav a.active {
  color: #FF5924;
  font-style: italic;
}

.topnav .openMenu {
    font-size: 2em;
    margin: 20px;
    display: none;
    cursor: pointer;
}

.topnav .mainMenu .closeMenu{
    font-size: 2em;
    display: none;
    cursor: pointer;
}

@media (max-width: 900px) {
.topnav{
  height: 60px;
}

  .topnav .logo img{
    height: 40px;
    animation: none;
  }

  .topnav .logo{
    margin-left: 10px;
  }

  .topnav .mainMenu{
    height: 100vh;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    background: white;
    transition: top 1s ease;
    display: none;
    padding-left: 0px;
    margin-top: 0;
    }


  .topnav a{
    font-size: 1.5em;
  }

  .topnav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    }

  .topnav .openMenu {
     display: block;
     position: absolute;
     top: 0;
     right: 20px;
   }

   .openMenu img{
     height: 30px;
   }

   .closeMenu img{
     height: 30px;
   }

  .topnav ul li {
    margin-top: 30px;
    margin-right: 0;
  }



}
