/**👋----------------Mobile-------------------👋**/
@media only screen and (min-width: 300px)  {

  html{
    background-color: #F8F7F5;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body{
    margin: 0;
    padding: 0;
    color: #232323;
    overflow-x: hidden;
    overflow-y: hidden;
  }




/**🍎*****Colors*****🍎**/
  --yellow-color: #FFE926;
  --orange-color: #FB5607;
  --black-color: #1F271B;


  /**🥑----Spacing----🥑**/
  .spacing-320{
    max-height: 320px;
    min-height: 320px;
  }

  .spacing-160{
    max-height: 160px;
    min-height: 160px;
  }

  .spacing-96{
    max-height: 96px;
    min-height: 96px;
  }

  .spacing-72{
    max-height: 72px;
    min-height: 72px;
  }

  .spacing-48{
    max-height: 48px;
    min-height: 48px;
  }

  .spacing-32{
    max-height: 32px;
    min-height: 32px;
  }

  .spacing-24{
    max-height: 24px;
    min-height: 24px;
  }

  .spacing-16{
    max-height: 16px;
    min-height: 16px;
  }

  .spacing-8{
    max-height: 8px;
    min-height: 8px;
  }


  /**🍎*****Header*****🍎**/

  .header{
    position: relative;
    align-items: center;
    height: 200px;
    z-index: 1;
  }


  .header-welcome-message{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    font-family: "Instrument Serif", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5em;
    text-align: left;
    line-height: 1.2em;
  }

  .space{
    width: 10px;
  }

  .sweardisplay-text{
    font-family: swear-display, serif;
    font-weight: 300;
    font-style: normal;
  }

  .sweardisplayitalic-text{
    display: inline-block;
    font-family: swear-display, sans-serif;
    font-weight: 400;
    font-style: italic;

  }

  .instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}




  /**🍎*****Subheaders*****🍎**/
  .subheaders{
    position: relative;
    height: auto;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

    font-family: "Instrument Serif", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2em;
  }

  .subheaders a {
    display: inline-block;
    font-style: normal;
    font-style: italic;
    text-decoration: none;
    color: #FF5924;
  }


  .subheaders-columns{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }



  .column1, .column2, .column3{
    width: 300px;
  }

  .orange-star{
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    top: 50px;
  }

  .orange-star img{
    height: 120px;
    animation: spin 10s linear infinite;
  }


@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


  .spinning-text{
    position: relative;
    top: -20px;
    left: 120px;
  }

  .spinning-text img{
    height: 100px;
    animation: spin 10s linear infinite;
  }




  /**🍎*****Welcome Arrow*****🍎**/

  .welcome-arrow{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    height: 200px;

    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-size: 1.5em;
  }

  .welcome-arrow a{
    position: relative;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #1F271B;
  }


  /**🍎*****Project Section*****🍎**/
  .work-section{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .work-text-right{
    width: 300px;
  }

  .work-title{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-size: 2em;
  }

  .work-date, .work-tags{
    font-family: swear-display, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
  }

  .work-one-liner{
    font-family: "Instrument Serif", serif;
    font-weight: 200;
    padding-top: 20px;
    font-size: 1.7em;
    line-height: 1.2em;
  }

  .work-image img{
    height: 150px;
    border: 0.5px solid #1F271B;
    transition: all 200ms ease-in-out;
  }

  /**🍎*****Other Work Section*****🍎**/
  .other-work-section{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .other-work{
    padding-top: 32px;
  }

  .other-work-title{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
  }

  .other-work-date, .other-work-tags{
    font-family:  swear-display, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
  }

  .other-work img{
    height: 310px;
    border: 0.5px solid #1F271B;
    transition: all 200ms ease-in-out;
  }

  .other-work-one-liner{
    font-family: "Instrument Serif", serif;
    font-weight: 200;
    font-size: 1.4em;
    line-height: 1.2em;
  }

  /**🍎*****Art & Design Ethos Section*****🍎**/
  .ethos-section{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }

  .ethos-section-title{
    font-family: "inter", sans-serif;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
  }


  /**🍎*****Mini About Section*****🍎**/
  .mini-about-section{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }

  .mini-about-desc{
    font-family: "inter", sans-serif;
    font-weight: 200;
  }

  .mini-about-title{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-size: 2em;
  }

  .button-section{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 300px;
    z-index: 20;
  }

  .more-button{
    display: inline-block;
    padding: 10px 30px 10px 30px;
    border: solid 0.5px #1F271B;

    font-family: "Instrument Serif", serif;
    font-size: 1.1em;
  }

  .more-button a{
    text-decoration: none;
    color: #1F271B;
  }

  /**🍎*****Footer*****🍎**/
  footer{
    background-color: #F04800;
    height: 300px;
  }


  /**🍙----Line Breaks----🍙**/
  /**this is for styling your line breaks**/
  .line-break{
    border-style: solid;
    border-width: 0;
    border-color: #D4D4D4;
    border-bottom-width: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }

  .thick-line-break{
    border-style: solid;
    border-width: 0;
    border-color: #D4D4D4;
    border-bottom-width: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }


  /**🍑----Buttons----🍑**/
  .arrow-down{
    font-size: 1.5em;

    -webkit-animation: bounce 2s infinite ease-in-out;
    -o-animation: bounce 2s infinite ease-in-out;
    -ms-animation: bounce 2s infinite ease-in-out;
    -moz-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;
  }

  @-webkit-keyframes bounce {
      0% { transform: translateY(-5px)  }
      50% { transform: translateY(0px) }
      100% { transform: translateY(-5px) }
  }

  @keyframes bounce {
      0% { transform: translateY(-5px)  }
      50% { transform: translateY(0px) }
      100% { transform: translateY(-5px) }
  }


/*Back to top on scroll button*/
/*all creds! https://codepen.io/matthewcain/pen/ZepbeR*/
  #button {
    display: inline-block;
    background-color: white;
    width: 30px;
    height:30px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 900px;
    padding: 10px;
    border: solid 0.5px #1F271B;
    transition: none .2s,
      opacity .2s, visibility .2s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    font-family: "inter", sans-serif;
  }

  #button::after {
    content: "\2191";
    font-size: 1.3em;
    color: #121719;
  }

  #button:active {
    background-color: none;
  }

  #button.show {
    opacity: 1;
    visibility: visible;
  }


/*----Image hover effect----*/
/*all creds! https://codepen.io/jbidoret/pen/wYjvKQ*/

.imagehover img {
  position: absolute;
  z-index: -10;
  visibility: hidden;
}

.imagehover img.visible {
  visibility: hidden;
}

/**🍎*****Footer*****🍎**/
footer{
  background-color: #F04800;
  height: 330px;
  color: white;
}

footer .footer-text{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

footer .footer-title{
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-size: 1.5em;
}

footer .footer-icons a{
  margin-right: 20px;
  text-decoration: none;
  color: white;
}


footer .footer-credit{
  font-family: "Inter", serif;
  padding-top: 30px;
  font-size: 0.8em;
}

/**👋----------------Desktop-------------------👋**/
@media only screen and (min-width: 900px) {

  /*Back to top on scroll button*/
  /*all creds! https://codepen.io/matthewcain/pen/ZepbeR*/
    #button {
      display: inline-block;
      background-color: white;
      width: 30px;
      height:30px;
      text-align: center;
      position: fixed;
      bottom: 30px;
      right: 30px;
      border-radius: 900px;
      padding: 10px;
      border: solid 0.5px #1F271B;
      transition: none .2s,
        opacity .2s, visibility .2s;
      opacity: 0;
      visibility: hidden;
      z-index: 1000;
      transition: all 200ms ease-in-out;
    }

    #button::after {
      content: "\2191";
      font-size: 1.5em;
      color: #121719;
    }

    #button:hover {
      cursor: crosshair;
      box-shadow:5px 5px #232323;
      transform: translate(2px);
    }
    #button:active {
      background-color: none;
    }

    #button.show {
      opacity: 1;
      visibility: visible;
    }


/**🍎*****Header*****🍎**/

.header{
  position: relative;
  align-items: center;
  width: 100%;
  z-index: 1;
}


.header-welcome-message{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: auto;
  font-family: "Instrument Serif", serif;
  font-weight:400;
  font-style: normal;
  font-size: 3.5em;
  text-align: left;
  line-height: 1.2em;

}

.line1, .line2, .line3{
  display: flex;
  flex-direction: row;
}

.space{
  width: 10px;
}

.sweardisplay-text{
  font-family: swear-display, serif;
  font-weight: 400;
  font-style: normal;
}

.sweardisplayitalic-text{
  display: inline-block;
  font-family: swear-display, sans-serif;
  font-weight: 400;
  font-style: italic;

}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}


.orange-star{
  display: flex;
  position: relative;
  top: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  justify-content: center;
}

.orange-star img{
  height: 200px;
  animation: spin 10s linear infinite;
}

.spinning-text{
  position: relative;
  top: -20px;
}

.spinning-text img{
  height: 120px;
  animation: spin 10s linear infinite;
}


@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


/**🍎*****Subheaders*****🍎**/
.subheaders{
  position: relative;
  height: auto;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  font-family: "Instrument Serif", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2em;
}

.subheaders-columns{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.subheaders a {
  display: inline-block;

  font-style: normal;
  font-style: italic;
  text-decoration: none;
  color: #121719;

  transition: all 0.3s ease;
}


.subheaders a:hover {
  color: #FF5924;
  font-style: italic;
  background-color: none;
}

.column1, .column2, .column3{
  width: 400px;
}

.header-subtitle{
  position: relative;
  font-size: 1.2em;
}

/*----Image hover effect----*/
/*all creds! https://codepen.io/jbidoret/pen/wYjvKQ*/
a:hover{
  cursor: crosshair;
}

.imagehover img {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  max-width: 250px;
  border: solid 2px #232323;
  box-shadow:10px 10px #232323;
}

.imagehover img.visible {
  visibility: visible;
}


.sweardisplayitalic-text:hover{
  color: #FF5924;
}

.sweardisplayitalic-text .imagehover img{
  transform: translateX(-80%)  translateY(-80%);
}

/*----Text hover effect----*/
.personal-title:hover div{
 visibility: visible;
 opacity: 1;
}

.pop-up-title{
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  padding-bottom: 20px;
  letter-spacing: normal;
}

.pop-up-desc{
  position: absolute;
  width: 450px;
  left: 400px;

  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: #121719;
  letter-spacing: normal;

  visibility: hidden;
  opacity: 0;
  cursor: crosshair;
  -webkit-transition: visibility 0s, opacity 0.1s linear;
  transition: visibility .1s, opacity 0.1s linear;
}

.welcome-arrow{
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}

/**🍎*****Art & Design Ethos Section*****🍎**/
.ethos-section{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.ethos-section-title{
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
}

/**🍎*****Mini About Section*****🍎**/
.mini-about-section{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.mini-about-title{
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

.button-section{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 890px;
  z-index: 20;
}

.more-button{
  display: inline-block;
  padding: 10px 30px 10px 30px;
  border: solid 0.5px #1F271B;
  transition: all 200ms ease-in-out;
  float: right;
}

.more-button a{
  text-decoration: none;
  color: #1F271B;
}

.more-button:hover{
  box-shadow:10px 10px #232323;
  transform: translateY(-5px)
}

/**🍎*****Project Section*****🍎**/
.work-section{
  width: 900px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.work-text-right{
  width: 500px;
}

.work-text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.work-title{
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
}

.work-date, .work-tags{
  font-family: swear-display, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.2em;
}

.work-one-liner{
  font-family: "Instrument Serif", serif;
  font-weight: 200;
  padding-top: 0;
  font-size: 2em;
  line-height: 1.2;
}


.work-image img{
  height: 450px;
  border: 0.5px solid #1F271B;
  transition: all 200ms ease-in-out;
}

.work-image img:hover{
  box-shadow:10px 10px #232323;
  transform: translateY(-5px)
}

/**🍎*****Other Work Section*****🍎**/
.other-work-section{
  width: 900px;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.other-work{
  width: 400px;
}

.other-work-title{
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

.other-work-date, .other-work-tags{
  font-family: swear-display, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.2em;
}

.other-work img{
  height: 420px;
  border: 0.5px solid #232323;
  transition: all 200ms ease-in-out;
}

.other-work-image img:hover{
  box-shadow:10px 10px #232323;
  transform: translateY(-5px)
}




/**🍎*****Footer*****🍎**/
footer{
  background-color: #F04800;
  height: 270px;
  color: white;
}

footer .footer-text{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

footer .footer-title{
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

footer .footer-icons a{
  margin-right: 20px;
  text-decoration: none;
}

.footer-icons a:hover{
  color: #8A2900;
}

footer .footer-credit{
  font-family: "Inter", serif;
  font-weight: 200;
  text-align: center;
  font-size: 0.8em;
}

/**🍙----Line Breaks----🍙**/
/**this is for styling your line breaks**/
.line-break{
  width: 900px;
}

.thick-line-break{
  width: 900px;
}

}
