/**👋----------------Mobile-------------------👋**/
@media only screen and (min-width: 300px)  {

  html{
    background-color: #fff;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body{
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 2em;
    font-family: "Space Grotesk", sans-serif;
    color: #121619;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: background-color .1s, color 1s;
  }

/**🍎*****Containers*****🍎**/
  #top-container{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }


  .index-container{
    width: 80vw;
    max-width: 1000px;
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .index-about{
    width: 80vw;
    max-width: 1000px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .selected-works, .my-journey{
    width: 80vw;
    max-width: 1000px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  #work-container{
    width: 80vw;
    max-width: 1000px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  /**🥑----Spacing----🥑**/
  .spacing-320{
    max-height: 320px;
    min-height: 320px;
  }

  .spacing-160{
    max-height: 160px;
    min-height: 160px;
  }

  .spacing-96{
    max-height: 96px;
    min-height: 96px;
  }

  .spacing-48{
    max-height: 48px;
    min-height: 48px;
  }

  .spacing-32{
    max-height: 32px;
    min-height: 32px;
  }

  .spacing-16{
    max-height: 16px;
    min-height: 16px;
  }

  .spacing-8{
    max-height: 8px;
    min-height: 8px;
  }

  /**🍓----Text Styles----🍓**/
  /**this is for styling your index titles, descriptions, etc**/

  .header-title a{
    font-size: 3.1em;
    font-weight: 700;
    color: #121719;
    margin-left: auto;
    margin-right: auto;
  }

  .header-subtitle{
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5em;
  }

  .personal-title .imagehover{
    font-size: 1em;
    font-weight: 400;
  }

  .index-about-title, .selected-works-title, .my-journey-title{
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.8em;
  }


  /**this is for styling your index about description**/
  .index-about-desc, .selected-works-desc, .journey-date{
    font-family: "Inter", sans-serif;
    padding-top: 30px;
    line-height:1.8em;
    font-size: 1em;
  }

  .index-container p{
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.8em;
  }

  .pop-up-title{
    font-size: .6em;
    font-weight: 400;
    padding-bottom: 20px;
  }

  .pop-up-desc{
    font-family: "Inter", sans-serif;
    position: absolute;
    width: 600px;
    top: 200px;
    font-size: 0.8em;
    visibility: hidden;
    opacity: 0;
    cursor: crosshair;
    -webkit-transition: visibility 0s, opacity 0.1s linear;
    transition: visibility .1s, opacity 0.1s linear;
  }

  .selected-works-blurb{
    font-family: "Inter", sans-serif;
    padding-bottom: 50px;
  }

  .work-uppercase{
    padding-bottom: 20px;
  }

  .work-details{
    font-family: "Inter", sans-serif;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
  }

.imagehover{
  font-size: 1.5em;
  font-weight: 700;
}

  .work, .my-journey, footer{
    font-style: normal;
  }

  .tag{
    color: #121719;
    background: rgb(0,0,0,.05);
    padding: 0.3px 12px 0.3px 12px;
    border-radius: 2px;
    margin-right: 2%;
  }


  .journey-date{
    font-family: "Space Grotesk", sans-serif;
    color: #BCBCBC;
    font-size: 13px;
  }

  .journey-desc{
    font-family: "Space Grotesk", sans-serif;
  }



  /**🍙----Line Breaks----🍙**/
  /**this is for styling your line breaks**/
  .line-break{
    border-style: solid;
    border-width: 0;
    border-color: #D4D4D4;
    border-bottom-width: 1px;
  }


  /**🍑----Buttons----🍑**/
  .arrow-down{
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    font-size: 2em;

    -webkit-animation: bounce 1s infinite ease-in-out;
    -o-animation: bounce 1s infinite ease-in-out;
    -ms-animation: bounce 1s infinite ease-in-out;
    -moz-animation: bounce 1s infinite ease-in-out;
    animation: bounce 1s infinite ease-in-out;
  }

  @-webkit-keyframes bounce {
      0% { transform: translateY(-5px)  }
      50% { transform: translateY(10px) }
      100% { transform: translateY(-5px) }
  }

  @keyframes bounce {
      0% { transform: translateY(-5px)  }
      50% { transform: translateY(10px) }
      100% { transform: translateY(-5px) }
  }

  .read-story-btn{
  	float: left;
  }

  .read-story-btn a{
    font-family: "Space Grotesk", sans-serif;
    font-size: 1em;
    font-weight: 700;
    line-height: 0;
    text-align: left;
    transition: 0.1s;
    color: #121719;
  }

  .read-story-btn a:hover{
    color: #F7F9F7;
    background-color: #121719;
  }

/*Back to top on scroll button*/
/*all creds! https://codepen.io/matthewcain/pen/ZepbeR*/
  #button {
    display: inline-block;
    background-color: none;
    width: 30px;
    height:30px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: none .2s,
      opacity .2s, visibility .2s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }

  #button::after {
    content: "\2191";
    font-size: 2em;
    line-height: 50px;
    color: #121719;
  }

  #button:hover {
    cursor: crosshair;
    background-color: none;
  }
  #button:active {
    background-color: none;
  }

  #button.show {
    opacity: 1;
    visibility: visible;
  }


  /**🍰----Links----🍰**/

  a{
    text-decoration: none;
  }

  .header-subtitle a:hover{
    color: #F7F9F7;
    background-color: #121619;
  }


  .work a{
    color: #121619;
    transition: 0.1s;
  }

  .work a:hover{
    color: #F7F9F7;
    background-color: #121619;
  }

  .journey-desc a{
    color: #121619;
    transition: 0.1s;
  }

  .journey-desc a:hover{
    color: #F7F9F7;
    background-color: #121619;
  }

/*----Image hover effect----*/
/*all creds! https://codepen.io/jbidoret/pen/wYjvKQ*/
a:hover{
  cursor: crosshair;
}

.imagehover img {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  transform: translateX(5%)  translateY(5%);
  pointer-events:none;
  max-width: 350px;
  border: solid 2px #121619;
  box-shadow:10px 10px #121619;
}

.imagehover img.visible {
  visibility: visible;
}

/**🍦----Footer----🍦**/
  footer{
    width: 80vw;
    max-width: 1400px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-title{
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 1;
  }

  .footer-desc{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
  }


  /**here are your social/contact links!**/
  .footer-links{
    font-weight: 700;
    font-size: 20px;
    line-height: 158.8%;
  }


  .footer-link-icons i{
    color: #121619;
  	height: 32px;
  	padding: 10px;
  	transition-property: all;
  	transition-duration: 0.1s;
    }

  .footer-link-icons i:hover{
    	transform: scale(0.85);
    	transition: all ease-in-out 0.1;
      color: #121719;
    }

/**🌛----Dark Mode----🌛**/
/* all creds! https://codepen.io/vikramsoni/pen/xxOjvRP */
.darkmode{
  color: #F7F9F7;
  background-color: #121619;
}

.darkmode a{
  color: #F7F9F7;
}

.darkmode a:hover{
  color: #121619;
  background-color: #F7F9F7;
}

.darkmode i{
  background-color: none;
  color: #F7F9F7;
}

.darkmode img{
  border-color: #F7F9F7;
  box-shadow: 10px 10px #F7F9F7;
}

  #dark-mode-toggle i{
  transform: scale(1.4);
}

#dark-mode-toggle i:hover{
  cursor: crosshair;
}

.darkmode .line-break{
  border-color: #F7F9F7;
}

.darkmode #button::after{
  color: #F7F9F7;
}

.darkmode .tag{
  color: rgb(255,255,255,.8);
  background-color: rgb(255,255,255,0.05);
}



/**👋----------------Desktop-------------------👋**/
@media only screen and (min-width: 600px) {

   .header-title a{
    font-size: 3.5em;
    font-weight: 700;
    color: #121719;
    margin-left: auto;
    margin-right: auto;
  }

  .header-title a:hover{
    color: #F7F9F7;
    background-color: #121719;
  }

  .header-subtitle{
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.5em;
  }

  .header-title .imagehover img{
    transform: translateX(-35%)  translateY(-25%);
  }

  .personal-title .imagehover img{
    transform: translateX(-35%)  translateY(-65%);
  }

 .personal-title:hover div{
   visibility: visible;
   opacity: 1;
 }

.pop-up-title{
  font-family: "Space Grotesk", sans-serif;
  font-size: .7em;
}

 .pop-up-desc{
   position: absolute;
   width: 500px;
   top: 45vh;
   left: 500px;

   font-size: .7em;
   line-height: 1.5;
   color: #121719;

   visibility: hidden;
   opacity: 0;
   cursor: crosshair;
   -webkit-transition: visibility 0s, opacity 0.1s linear;
   transition: visibility .1s, opacity 0.1s linear;
 }


 .index-about-title, .selected-works-title{
   font-size: 1.2em;
 }

 .index-about-desc, .selected-works-desc{
   font-size: 1.2em;
 }

 .work a{
   font-size: 2.3em;
   line-height: 1.3;
 }

 .read-story-btn{
   font-size: 1.3em;
 }

.work-details{
  font-size: 1em;
}

.tag{
  padding: 0.8px 18px 0.8px 18px;
  border-radius: 2px;
}

.journey-wrapper{
  display: flex;
  flex-direction: row;
}

.journey-container{
  width: 600px;
  margin-right: 10%;
}

.darkmode .header-title a{
  color: #F7F9F7;
}

.darkmode .header-title a:hover{
  color: #121719;
  background-color: #F7F9F7;
}

.darkmode .pop-up-desc{
  color: #F7F9F7;
}

.darkmode #button.show{
  color: #F7F9F7;
  background-color: none;
}

}
