/*-------------MOBILE-------------*/
	* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html{
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.5px;
}

header {
	text-align: left;
	padding-top: 40px;
	padding-bottom: 100px;

}

header img {
	height: 100px;
	position: relative;
	padding: 0 0px 50px 0px;
}


#wrapper {
	width: 78%;
	margin: 0 auto;
	top: 0px;
}

h1 {
	color: #071013;
	font-size: 25px;
	font-weight: 700;
	line-height: 1.3em;

}

.logo-left img{
	height: 40px;
}

.logo-left {
	padding: 30px 0 20px 20px;
}

#nav {
	display: inline-block;
}

h2 {
	color: #071013;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.8em;
	padding-top: 20px;
}

h3 {
	font-weight: 400;
	padding: 20px 0 20px 0;
	width: 95%;
	color: #aaaaaa;
}

h4{
	font-size: 20px;
	font-weight: 600;
}

h5{
	font-weight: 300;
	padding-bottom: 15px;
}

h6{
	padding-top: 50px;
	font-weight: 300;
	font-size: 15px;
}

h6 a{
	font-weight: 600;
	text-decoration: none;
	color: #95C623;
}

.proj {
	padding-bottom: 30px;
}

.proj-desc a{
	text-decoration: none;
	color: #95C623;
}

.proj-btn {
	border: solid 1px #95C623;
	padding: 10px 20px 10px 20px;
	border-radius: 15px;
	float: left;
}

#about-right img {
	height: 350px;
	padding-left: 30px;
}

#btn-container{
	float: left;
	text-align: center;
	text-decoration: none;
	border-radius: 19px;
	padding: 10px 30px 10px 30px;
	font-size: 15px;
	color:  #95C623;
	letter-spacing: 1px;
  border: solid 2px #95C623;
	margin-top: 30px;
}

nav {
	top: 0;
}

ul {
	list-style: none;
}

li {
	color: #071013;
	font-size: 17px;
	display: inline-block;
	font-weight: bold;
	position: relative;
	margin: 10px;
}

li a {
	text-decoration: none;
	color: #071013;
}

.locationmarker {
  background: transparent;
}

.locationmarker a {
  color: #95C623;
}

#work img{
	width: 100%;
	height: 100%;
	margin: 10px 0 10px 0px;
	border-radius: 10px;
}

#about-container{
	color: gray;
}

#about-container a{
	text-decoration: none;
	color: #95C623;
}

.about-title{
	font-size: 15px;
	font-weight: 600;
	padding-top: 20px;
	color: #071013;
}

.about-list{
	font-size: 15px;
	font-weight: 400;
	padding-top: 15px;
}

.about-list a{
	text-decoration: none;
	color: #95C623;
}
#connect-container{
	display: inline-block;
	position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#emoji{
	font-size: 90px;
	text-align: center;
	padding-bottom: 30px;
	padding-top: 50px;
}

#connect-header{
	font-weight: 700;
	font-size: 50px;
}

#connect-subhead{
	font-size: 20px;
	font-weight: 400;
	position: relative;
	text-align: center;
}

#contact-links{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 20px;

}
#contact-links img{
	height: 45px;
	margin: 7px;
}

footer p {
	text-align: center;
	font-weight: 400;
	font-size: 14px;
}

#footer {
	padding-top: 60px;
	display: flex;
	align-items: center;
	padding-left: 50px;
}


/*-------------DESKTOP----------------*/
@media only screen and (min-width: 1000px)  {

/**👋----------------Home Page-------------------👋**/
	header {
		padding-top: 190px;
		padding-right: 180px;
	}

	header img {
		height: 140px;
		float: right;
		padding: 25px 0;
		transition-duration: 800ms;
		transition-property: all;
	}

	header img:hover {
		transform: rotate(20deg);
	}

	body{
		width: 100%;
		background-color: white;
		overflow-x: hidden;
}
	#wrapper {
		width: 100%;
	}


h1 {
	font-size: 48px;
		padding-left: 130px;
		color: #071013;
}

.landing-about{
	padding-left: 130px;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.7em;

}

h2 {
	font-size: 15px;
	padding-left: 130px;
	padding-top: 40px;
	color: gray;
	line-height: 2em;

}

h2 a{
		text-decoration: none;
		color: #95C623;
}

h3 {
	font-weight: 300;
	margin-bottom: 1%;
	color: #aaaaaa;
}

h4{
	font-size: 38px;
	font-weight: 600;
	color: #071013;
}

h5{
	font-size: 16px;
	font-weight: 400;
	margin-top: 2%;
	color: #071013;
	line-height: 2em;
}



/**🍌----------------Navigation Bar-------------------🍌**/
nav {
	float: right;
	width: 36%;
	top: 0px;
}

#nav{
	width: 100%;
	position: fixed;
	z-index: 5;
	top: 0px;
}

nav a::before{
	content: "";
	display: block;
	height: 3px;
	border-radius:30px;
	width: 0%;
	top: 22px;
	background: #95C623;
	position: absolute;
	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}

ul {
	margin: 30px;

}

li {
	font-size: 15px;
	margin-left: 50px;
}

li a:hover{
	color: #95C623;
}

.logo-left {
	float: left;
	padding-top: 30px;
	padding-left: 60px;
}

.logo-left img {
	height: 50px;
}

/**💻----------------Work-------------------💻**/
#work{
	width: 100%;
	padding-left: 60px;
}

#work img {
	width: 45%;
	margin: 2%;
	object-fit: cover;

	filter: grayscale(1);
	transition-duration: 1000ms;
	transition-property: all;
}

#work img:hover {
	filter: grayscale(0);
  transform: scale(0.98);
  transition: all ease-in-out 0.5s;
  opacity: 1;
  filter: alpha(opacity=100);
}

.proj-desc{
float: right;
width: 32%;
padding: 30px 180px 0 0;
}

.proj-btn{
	text-align: center;
	float: left;
	text-decoration: none;
	border-radius: 15px;
	padding: 10px 30px 10px 30px;
	font-size: 15px;
	color:  #95C623;
	letter-spacing: 1px;
	border: solid 2px #95C623;
	transition: 0.5s;
	margin-top: 20px;
}

.proj-btn:hover{
	background-color: #95C623;
	color: white;
}

/**🍪----------------About-------------------🍪**/
#about-right img {
	margin-left: 1%;
	float: right;
	height: 400px;
	width: 400px;
	transition-duration: 950ms;
	transition-property: all;
}

#about-right img:hover {
	transform: scale(1.02);
	transition: all ease-in-out 950ms;
}

h6, #about-container {
	padding: 30px 10px 0 130px;
	width: 90%;
	font-weight: 400;
	line-height: 1.8em;
	color: gray;
}

h6 a{
	text-decoration: none;
	font-weight: 800;
	color: #95C623;
}

.about-title{
	font-size: 20px;
	color: #071013;
}

.about-list{
	padding-top: 10px;
	font-size: 15px;
}

#about-container a{
	font-weight: bold;
}

/**📋----------------Resume Button-------------------📋**/
#btn-container{
	text-align: center;
	float: left;
	font-weight: 500;
	text-decoration: none;
	border-radius: 15px;
	padding: 10px 30px 10px 30px;
	font-size: 15px;
	color:  #95C623;
	letter-spacing: 1px;
  border: solid 2px #95C623;
  transition: 0.5s;
	margin: 40px 0 0 130px;
}

#btn-container:hover{
  background-color: #95C623;
	color: white;
}

/**🤝----------------Connect-------------------🤝**/
#emoji{
	text-align: center;
	padding-bottom: 10px;
}

#connect-header{
	font-size: 50px;
}

#connect-subhead{
	font-size: 15px;
}

#contact-links img{
	height: 45px;
	margin: 7px;
	opacity: 25%;

	transition-property: all;
	transition-duration: 0.5s;
}

#contact-links img:hover{
	transform: scale(0.85);
	opacity: 90%;
	transition: all ease-in-out 0.25s
}

/**👇----------------Footer-------------------👇**/
/**
footer img {
	height: 100px;
	transition-duration: 900ms;
	transition-property: all;
}

footer img:hover {
	transform: scale(.9);
}
**/
footer {
	float: right;
	width: 59%;
}

#footer {
	display: flex;
	align-items: center;
}
}
