/**👋----------------Mobile-------------------👋**/
@media only screen and (min-width: 300px)  {

  html{
    background-color: #F7F9F7;
    scroll-behavior: smooth;
  }

  body{
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 2em;
    font-family: san-serif, "Chivo";
    color: #121619;
    overflow-x: hidden;
    transition: background-color .1s, color 1s;
  }

  header{
  }

/**🍎*****Containers*****🍎**/
  #top-container{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }


  .index-container{
    width: 80vw;
    max-width: 1400px;
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .index-about{
    width: 80vw;
    max-width: 1400px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .selected-works, .my-journey{
    width: 80vw;
    max-width: 1400px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  #work-container{
    width: 80vw;
    max-width: 1400px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

/**title styles here!**/
/*
  .personal-title{
    cursor: pointer;
    transition: all ease-in-out .1s;
  }

  .personal-title:active{
    cursor: pointer;
    background-color: ##CE796B;
    color: #E5E5E5;
    transition-property: all;
    transition-duration: .1s;
  }

  .personal-title:active div{
    visibility: visible;
    opacity: 1;
  }
*/


  /**🥑----Spacing----🥑**/

  .spacing-150{
    max-height: 150px;
    min-height: 150px;
  }

  .spacing-100{
    max-height: 100px;
    min-height: 100px;
  }

  .spacing-50{
    max-height: 50px;
    min-height: 50px;
  }

  .spacing-30{
    max-height: 30px;
    min-height: 30px;
  }

  /**🍓----Text Styles----🍓**/
  /**this is for styling your index titles, descriptions, etc**/

  .header-title{
    font-size: 2.5em;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
  }

  .header-subtitle{
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5em;

  }
  .index-about-title, .selected-works-title, .my-journey-title{
    font-family: "Chivo", sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.8em;
  }

  /**this is for styling your index about description**/
  .index-about-desc, .selected-works-desc, .journey-date{
    font-family: "Inter", sans-serif;
    padding-top: 30px;
    line-height:1.8em;
    font-size: 1em;
  }

  .index-container p{
    text-transform: uppercase;
    font-size: 0.8em;
  }

  .pop-up-title{
    font-size: .6em;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  .pop-up-desc{
    font-family: "Inter", sans-serif;
    position: absolute;
    width: 670px;
    top: 200px;
    font-size: 0.8em;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: visibility 0s, opacity 0.1s linear;
    transition: visibility .1s, opacity 0.1s linear;
  }

  .selected-works-blurb{
    font-family: "Inter", sans-serif;
    padding-bottom: 50px;
  }

  .work-uppercase{
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  .work-details{
    font-family: "Inter", sans-serif;
    padding-bottom: 20px;
  }

.imagehover{
  font-size: 1.5em;
  font-weight: 700;
}

  .journey-date{
    font-family: "Chivo", sans-serif;
    color: #BCBCBC;
    text-transform: uppercase;
    font-size: 13px;
  }

  .journey-desc{
    font-family: "Inter", sans-serif;
  }


  /**🍙----Line Breaks----🍙**/
  /**this is for styling your line breaks**/
  .line-break{
    border-style: solid;
    border-width: 0;
    border-color: #121619;
    border-bottom-width: 1px;
    padding-bottom:10px;
  }


  /**🍑----Buttons----🍑**/
  .arrow-down{
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    font-size: 2em;

    -webkit-animation: bounce 1s infinite ease-in-out;
    -o-animation: bounce 1s infinite ease-in-out;
    -ms-animation: bounce 1s infinite ease-in-out;
    -moz-animation: bounce 1s infinite ease-in-out;
    animation: bounce 1s infinite ease-in-out;
  }

  @-webkit-keyframes bounce {
      0% { transform: translateY(-5px)  }
      50% { transform: translateY(10px) }
      100% { transform: translateY(-5px) }
  }

  @keyframes bounce {
      0% { transform: translateY(-5px)  }
      50% { transform: translateY(10px) }
      100% { transform: translateY(-5px) }
  }

  .read-story-btn{
  	float: left;
  }

  .read-story-btn a{
    font-family: "Chivo", sans-serif;
    font-size: 1em;
    font-weight: 700;
    line-height: 0;
    text-align: left;
    transition: 0.1s;
    color: #121719;
  }

  .read-story-btn a:hover{
    color: #F7F9F7;
    background-color: #121719;
  }



  /**🍰----Links----🍰**/

  a{
    text-decoration: none;
  }

  .header-subtitle a:hover{
    color: #F7F9F7;
    background-color: #121619;
  }


  .work a{
    color: #121619;
    transition: 0.1s;
  }

  .work a:hover{
    color: #F7F9F7;
    background-color: #121619;
  }

  .journey-desc a{
    color: #121619;
    transition: 0.1s;
  }

  .journey-desc a:hover{
    color: #F7F9F7;
    background-color: #121619;
  }

/*----Image hover effect----*/
/*all creds! https://codepen.io/jbidoret/pen/wYjvKQ*/
a:hover{
  cursor: pointer;
}

.imagehover img {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  transform: translateX(5%)  translateY(5%);
  pointer-events:none;
  max-width: 280px;
  border: solid 2px #121619;
  box-shadow:10px 10px #121619;
}

.imagehover img.visible {
  visibility: visible;
}

  /**🍦----Footer----🍦**/
  footer{
    width: 80vw;
    max-width: 1400px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-title{
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 1;
  }

    .footer-desc{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
  }


  /**here are your social/contact links!**/
  .footer-links{
    font-weight: 700;
    font-size: 20px;
    line-height: 158.8%;
  }


  .footer-link-icons i{
    color: #121619;
  	height: 32px;
  	padding: 10px;
  	transition-property: all;
  	transition-duration: 0.1s;
    }

  .footer-link-icons i:hover{
    	transform: scale(0.85);
    	transition: all ease-in-out 0.1;
      color: #121719;
    }

/***🌛----Dark Mode----🌛***/
/* all creds! https://codepen.io/vikramsoni/pen/xxOjvRP */
.darkmode{
  color: #F7F9F7;
  background-color: #121619;
  border-style: solid;
  border-color: #F7F9F7;
}

.darkmode a{
  color: #F7F9F7;
}


.darkmode a:hover{
  color: #121619;
  background-color: #F7F9F7;
}


.darkmode i{
  background-color: none;
  color: #F7F9F7;
}


.darkmode img{
  border-color: #F7F9F7;
  box-shadow: 10px 10px #F7F9F7;
}

  #dark-mode-toggle i{
  background-color: none;
  transform: scale(1.4);
}

}
