/*------------MOBILE-----------------*/
* {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
}

#nav{
  font-family: "Poppins", sans-serif;
}

body{
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;

}

#banner-container {
  width: 100%;
  position: absolute;
}

#proj-header{
  max-width: 100%;
}
#proj-header img{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

#details-container{
  padding-top: 170px;
  font-size: 10px;
}

.process-step{
  font-size: 10px;
  color: #4949E7;
  padding: 10px 0 0 0;
}

.step-title{
  padding-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

.step-desc{
  font-size: 10px;
}

.subtitle{
  font-weight: bold;
  font-size: 15px;
  padding-top: 10px;
}

.left-side, .right-side{
  font-size: 10px;
}


.interview-img {
  width: 100%;
  padding: 10px 0 10px 0;
}

.interview-img img{
  width: 100%;
  height: 100%;
}

.subtitle{
  font-size: 10px;
}

.two-column{
  width: 100%;
}

.left-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 20px;
}

.right-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 20px;
}

.sketch-img {
  width: 100%;
}

.sketch-img img{
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.img img{
  width: 100%;
  height: 100%;
}

.proto-img{
  width: 100%;
}

.proto-img img{
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cards{
  width: 400px;
}

.cards img{
  height: 400px;
  width: 140px;
  object-fit: cover;
}

.long-card{
  width: 100%;
}

.long-card img{
  height: 900px;
  width: 280px;
  object-fit: cover;
}

.step-desc {
  width: 100%;
}

.step-desc a{
  text-decoration: none;
}

.step-title{
  color: #071013;
}
/*-------------DESKTOP----------------*/
@media only screen and (min-width: 1000px)  {

  body{
  margin: 0;
  padding: 0;
}

#banner-container {
		width: 100%;
		position: absolute;
	}

#proj-header {
		display: flex;
		flex-direction: column;
		position: relative;
		justify-content: center;
		align-items: center;
		top: 130px;
		padding-bottom: 100px;
	}

#proj-header img{
  max-width: 100%;
}
/**
.proj-title{
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  padding-top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
**/


#details-container, #process-container{
  position: relative;
	max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  top: 650px;
  display: flex;
	flex-direction: column;
	justify-content: center;
  padding-bottom: 30px;
  padding-top: 0;
}

.details-title{
  font-weight: 600;
  font-size: 15px;
  color: #071013;
  background-color: white;
}

.details-desc, .step-desc, .subtitle-span{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: gray;
  padding-bottom: 20px;
  line-height: 2em;

}


.process-step{
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 20px;

}
/*
.step-desc img{
  height: 630px;
  width: 700px;
  object-fit: cover;
}
*/
.interview-img{
  max-width: 700px;
  margin-left: auto;
	margin-right: auto;
	position: relative;
  vertical-align: middle;
  padding-top: 30px;
  padding-bottom: 30px;
}


.left-img img{
  width: 300px;
  height: 250px;
  object-fit: cover;
  float: left;
  margin-right: 3%;
}

.right-img img{
  width: 200px;
  height: 250px;
  object-fit: cover;
  float: left;
  margin-right: 3%;
}

.sketch-img{
  max-width: 800px;
  display: flex;
	flex-direction: row;
	justify-content: center;
}

.sketch-img img{
  width: 800px;
  height: 500px;
  object-fit: cover;
  margin: 2%;
}

.interview-img img{
  height: 100%;
}

.proto-img {
  padding-top: 30px;
}
.proto-img img{
  height: 530px;
  width: 800px;
  object-fit: cover;
  padding-bottom: 25px;
  padding-top: 25px;
}

.step-title, .subtitle{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 6px;
}

.question-title{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  color: #071013;
  line-height: 2em;
}

.two-column{
  max-width: 100%;
}

.left-side, .right-side{
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: gray;
  padding-bottom: 90px;
  line-height: 2em;
  margin-right: 10%;
}

.cards{
  display: flex;
  flex-direction: row;
}
.cards img{
  height: 410px;
  width: 190px;
  object-fit: cover;
  margin-right: 3%;
}

.long-card img{
    height: 800px;
    width: 260px;
    object-fit: cover;
}
/** for when you want 3 images in a triangle shape
 .three-middle-img{
   margin-left: auto;
   margin-right: auto;
   margin-top: 2%;
 }

 .three-middle-img img{
   width: 430px;
   height: 250px;
   object-fit: cover;
 }
**/
.subtitle{
  padding-top: 30px;
  font-size: 16px;
  color: #071013;
}

.step-desc iframe{
  width: 100%;
  height: 600px;
}
}
